client

proto udp

dev tun0

remote {{openvpn_host}} {{openvpn_port}}

nobind
resolv-retry 30

script-security 2

# Handled by alpine specific logic which in turn will run
# /etc/openvpn/openvpn-{up,down}.sh
#
# up /etc/openvpn/up.sh
# down /etc/openvpn/down.sh

ca /etc/openvpn/secrets/ca.crt
cert /etc/openvpn/secrets/{{inventory_hostname}}.crt
key /etc/openvpn/secrets/{{inventory_hostname}}.key

persist-key
persist-tun

keepalive 10 120
comp-lzo

log /var/log/openvpn/openvpn.log
verb 4
